################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenAI/OpenAI/obj
/OpenAI/OpenAI/bin/Debug/net6.0
/OpenAI/.vs/OpenAI
/.vs
