html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 100% !important;
        margin-top: -10px !important;
        padding: 0px !important;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 100% !important;
        margin-top: -10px !important;
        padding: 0px !important;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
        padding: 0px !important;
        margin-top: -10px !important;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
        padding: 0px !important;
        margin-top: -10px !important;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
        padding: 0px !important;
        margin-top: -10px !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0px !important;
    overflow-x: hidden;
    background-color: rgba(1,1,1,0.4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divFooter {
    background-color: black;
    position: relative;
    width: 100% !important;
    line-height: 30px;
    white-space: nowrap;
}

.fullPage {
    height: 100vh;
}

.partialPage {
    padding: 200px;
    height: 65vh;
}

.parallax {
    background-image: url("../videos/video.gif");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_body {
    background-image: url("../images/background/bg2.jpg");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_GenApplication {
    background-image: url("../images/background/bg7.jpg");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_genaiOrganization {
    background-image: url("../images/background/bg6.jpg");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_genaiTools {
    background-image: url("../images/background/bg5.jpg");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_contacts {
    background-image: url("../images/background/bg1.jpg");
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

h1 {
    font-family: 'Anton', 'sans-serif';
    background-image: linear-gradient(to right, brown, brown, yellow, white, yellow, brown, brown);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: brown;
    padding: 9vw 2vw 0vw 2vw;
    text-align: center;
    font-size: 8vw;
}

.homeText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    text-align: center
}

#myVideo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: static;
    top: 20px;
    left: 0;
    opacity: 25%
}

.fixedHeader {
    position: sticky !important;
    width: 100%;
    top: 0 !important;
    z-index: 99;
}

.squareImage {
    height: 100% !important;
    width: 100% !important;
}

.img-thumbnail {
    height: 150px !important;
    width: 150px !important;
}

h2 {
    color: gold;
    font-family: fantasy;
}

.textAreaHeight {
    height: 100px !important;
    width: 90vw !important;
    display: block;
    padding: 5px 15px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    box-shadow: none;
}

.goldColour {
    color: yellow;
    text-decoration-color: black;
}

.websiteName {
    color: darkblue;
    font-size: large;
    font-weight: bolder;
    text-decoration-color: black;
}

.hrHeight {
    height: 2px !important;
    color: yellow;
}

.homecontent {
    background-color: #e2eefa;
    color: #484e54;
    transition: all .25s ease-in-out;
    border: 1px solid #efe8e8;
    font-size: 16px;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
    -moz-box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
    box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
}

.transbox {
    background-color: darkblue;
    border: 1px solid black;
    background-size: 300px 100px;
    height: 100%;
    opacity: 75%;
    padding: 25px;
}

    .transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
    }

.fullWidth {
    width: 90vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    max-width: 250px;
    height: 250px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    margin: 25px 0;
    width: 30%;
}

@media screen and (max-width: 700px) {
    .card {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 90%;
    }
}

.card .elms-animation,
.card .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .elms-animation {
    z-index: 5;
}

    .card .elms-animation span {
        position: absolute;
        background-color: rgba(0, 0, 0, .6);
        height: 0;
        width: 0;
        transition: all .5s ease-out;
    }

        .card .elms-animation span.one {
            top: 0;
            left: 0;
        }

        .card .elms-animation span.two {
            top: 0;
            right: 0;
        }

        .card .elms-animation span.three {
            left: 0;
            bottom: 0;
        }

        .card .elms-animation span.four {
            right: 0;
            bottom: 0;
        }

.card:hover .elms-animation span {
    width: 50%;
    height: 50%;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card .content {
    z-index: 6;
    visibility: hidden;
}

.card:hover .content {
    animation: show .3s .4s linear forwards;
}

.card .content button {
    padding: .6rem 1.3rem;
    border: 3px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    transition: background .3s ease;
}

    .card .content button:hover {
        background: #FFF;
        color: #333;
    }

@keyframes show {
    to {
        visibility: visible;
    }
}

.cardBackground {
    background-color: black;
    white-space: nowrap;
    opacity: 75%;
    font-size: larger;
}

.largeImage {
    height: 350px !important;
    width: 350px !important;
}