html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 100% !important;
        margin: 0px 5px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 100% !important;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
    width: 98vw;
    overflow-x: hidden;
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.divFooter {
    background-color: black;
    position: relative;
    width: 100% !important;
    line-height: 30px;
    white-space: nowrap;
}

.fullPage {
    padding: 200px;
    height: 100vh;
}

.partialPage {
    padding: 200px;
    height: 65vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }


#myVideo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 20px;
    left: 0;
    opacity: 15%
}

.fixedHeader {
    position: sticky !important;
    width: 100%;
    top: 0 !important;
    z-index: 99;
}

.squareImage {
    height: 300px;
    width: 300px;
}

.rowDiv {
    background-color: black;
    padding: 20px;
}

h1 {
    color: gold;
    font-family: fantasy;
}

.textAreaHeight {
    height: 100px !important;
    width: 100% !important;
    display: block;
    padding: 5px 15px;
    font-size: 14px !important;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    box-shadow: none;
}

.goldColour {
    color: yellow;
    text-decoration-color: black;
}

.websiteName {
    color: darkblue;
    font-size: large;
    font-weight: bolder;
    text-decoration-color: black;
}

.hrHeight {
    height: 2px !important;
    color: yellow;
}

.genAIBackground {
    background: url("~/image/wallpaper.jpg");
    background-repeat: no-repeat;
}

.homecontent {
    background-color: #e2eefa;
    color: #484e54;
    transition: all .25s ease-in-out;
    border: 1px solid #efe8e8;
    font-size: 16px;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
    -moz-box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
    box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
}

.transbox {
    background-color: darkblue;
    border: 1px solid black;
    opacity: 0.6;
    background-size: 300px 100px;
    height: 300px;
    padding: 25px;
}

    .transbox p {
        margin: 5%;
        font-weight: bold;
        color: #000000;
    }
