@{
    ViewData["Title"] = "GenAI Organization";
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>

<div class="text-center">
    <div class="mt-5">
        <h1 class="display-4">GenAI Organisations</h1>
    </div>
    <div class="row mt-5">
        <div class="row">
            <div class="column">
                <img id="img" src="~/image/chatgpt.png" alt="GenAI Tools image" class="img-thumbnail image imgClass">
                <div class="middle">
                    <span>Microsoft</span><hr />
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        Microsoft Corporation is an American multinational technology corporation headquartered in Redmond, Washington. Microsofts best-known software products are the Windows line of operating systems, the Microsoft 365 suite of productivity applications, and the Internet Explorer and Edge web browsers. (Wikipedia)
                    </div>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/image/Google-Bard.png" alt="GenAI Tools image" class="img-thumbnail image img">
                <div class="middle">
                    <span>Google</span><hr />
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        Google LLC is an American multinational technology company focusing on artificial intelligence, online advertising, search engine technology, cloud computing, computer software, quantum computing, e-commerce, and consumer electronics. (Wikipedia)
                    </div>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                <div class="middle">
                    <span>IBM</span>
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        The International Business Machines Corporation, nicknamed Big Blue, is an American multinational technology corporation headquartered in Armonk, New York and is present in over 175 countries. (Wikipedia)
                    </div>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/image/Dalle-2.png" alt="GenAI Tools image" class="img-thumbnail  img">
                <div class="middle">
                    <span>Amazon</span>
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        Amazon.com, Inc. is an American multinational technology company focusing on e-commerce, cloud computing, online advertising, digital streaming, and artificial intelligence. (Wikipedia)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>