@{
    ViewData["Title"] = "GenAI Applications";
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>

<div class="text-center">
    <div class="mt-5">
        <h1 class="display-4">GenAI Applications</h1>
    </div>
    <div class="row mt-5">
        <div class="row">
            <div class="column">
                <img id="img" src="~/image/chatgpt.png" alt="GenAI Tools image" class="img-thumbnail image imgClass">
                <div class="middle">
                    <span>Chat GPT</span><hr />
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        ChatGPT is a large language model-based chatbot developed by OpenAI and launched on November 30, 2022, notable for enabling users to refine and steer a conversation towards a desired length, format, style, level of detail, and language used. (Wikipedia)
                    </div>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/image/Google-Bard.png" alt="GenAI Tools image" class="img-thumbnail image img">
                <div class="middle">
                    <span>Github Copilot</span><hr />
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        GitHub Copilot is a cloud-based artificial intelligence tool developed by GitHub and OpenAI to assist users of Visual Studio Code, Visual Studio, Neovim, and JetBrains integrated development environments by autocompleting code. (Wikipedia)
                    </div>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/image/Dalle-2.png" alt="GenAI Tools image" class="img-thumbnail  img">
                <div class="middle">
                    <span>DALLE-2</span>
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        DALL-E and DALL-E 2 are text-to-image models developed by OpenAI using deep learning methodologies to generate digital images from natural language descriptions, called "prompts". DALL-E was revealed by OpenAI in a blog post in January 2021, and uses a version of GPT-3 modified to generate images. (Wikipedia)
                    </div>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                <div class="middle">
                    <span>Synthesia</span>
                    <button type="button" id="button">Read More</button>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <img id="img" src="~/image/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail img">
                    </div>
                    <div class="col-sm-6">
                        Synthesia is a synthetic media generation platform used to create AI generated video content. Based in London, England, it counts among its users businesses including Amazon, Tiffany & Co. and IHG Hotels & Resorts. (Wikipedia)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>