@{
    ViewData["Title"] = "Contact & About";
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<div class="parallax_contacts">

    <div class="text-center">
        <h1 class="text-center">Contact & About</h1>
    </div>
    <br />
    <div class="row partialPage">
        <div class="col-md-4 text-center">
            <div class="transbox">
                <h2 class="">Contact Us</h2>
                <hr class="hrHeight" />
                <p class="text-light">
                    This website was written by [your name]
                    To get in contact please email [link to your email address]
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="transbox">
                <h2 class="">About Us</h2>
                <hr class="hrHeight" />
                <p class="text-light">
                    This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra.
                    This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design techniques.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="transbox">
                <h2 class="">Copyright</h2>
                <hr class="hrHeight" />
                <p class="text-light">
                    All images used in this website were downloaded from
                    <a href="https://unsplash.com/">Unsplash.</a>
                    <br />
                    The icons for the footer from
                    <a href="https://fontawesome.com/">fontawesome.</a>
                    <br />
                    The Anton font used for headers from
                    <a href="https://fonts.google.com/">Google Fonts.</a>
                    <br />
                    The AI jobs dataset from
                    <a href="https://ai-jobs.net/">Insights.</a>
                    <br />
                    The Python source from
                    <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle.</a>
                    <br />
                    The Python web based on PyScript from
                    <a href="https://realpython.com/pyscript-python-in-browser/">Real Python.</a>
                    <br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>