@{
    ViewData["Title"] = "Contact & About";
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<div class="row">
    <div class="col-md-4 text-center">
        <div class="transbox">
            <h1 class="display-6">Contact Us</h1>
            <hr class="hrHeight" />
            <p class="text-light">
                This website was written by [your name]
                To get in contact please email [link to your email address]
            </p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="transbox">
            <h1 class="display-6">About Us</h1>
            <hr class="hrHeight" />
            <p class="text-light">
                This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra.
                This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design techniques.
            </p>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="transbox">
            <h1 class="display-6">Copyright</h1>
            <hr class="hrHeight" />
            <p class="text-light">
                All images used in this website were downloaded from Unsplash
                The icons for the footer from fontawesome.
                The Anton font used for headers from Google Fonts.
                The AI jobs dataset from Insights.
                The Python source from Kaggle
                The Python web based on PyScript from Real Python.
            </p>
        </div>
    </div>
</div>
