@{
    ViewData["Title"] = "GenAI Page";
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>

<div class="parallax_genaiTools">
    <div class="text-center genAIBackground">
        <br />
        <div>
            <h2 class="display-6 text-center">GenAI Tools</h2>
        </div>
        <div class="row mt-5 p-5">
            <div class="row cards-container">
                <div class="card column">
                    <div class="elms-animation">
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                        <span class="four"></span>
                    </div>
                    <img id="img" src="~/images/genaisites/chatgpt.jpg" alt="GenAI Tools image" class="squareImage">
                    <div class="content">
                        <button class="black-button">Read More</button>
                    </div>
                </div>
                <div class="card column">
                    <div class="elms-animation">
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                        <span class="four"></span>
                        <img id="img" src="~/images/genai/bard_thumbnail.jpg" alt="GenAI Tools image" class="squareImage">
                    </div>
                    <div class="content">
                        <button class="red-button">Read More</button>
                    </div>
                </div>
                <div class="card column">
                    <div class="elms-animation">
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                        <span class="four"></span>
                        <img id="img" src="~/images/genaisites/midjourney_thumbnail.jpg" alt="GenAI Tools image" class="squareImage">
                    </div>
                    <div class="content">
                        <button class="blue-button">Read More</button>
                    </div>
                </div>
                <div class="card column">
                    <div class="elms-animation">
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                        <span class="four"></span>
                        <img id="img" src="~/images/genaisites/dalle_thumbnail.jpg" alt="GenAI Tools image" class="squareImage">
                    </div>
                    <div class="content">
                        <button class="green-button">Read More</button>
                    </div>
                </div>

            </div>
            <div class="text-light">
                <div id="chatgpt" class="d-none">
                    <div class="row text-center cardBackground p-5">
                        <div class="col-sm-6">
                            <img id="img" src="~/images/genai/chatgpt_large.jpg" alt="GenAI Tools image" class="largeImage">
                        </div>
                        <div class="col-sm-6 text-wrap">
                            ChatGPT is a large language model-based chatbot developed by OpenAI and launched on November 30, 2022, notable for enabling users to refine and steer a conversation towards a desired length, format, style, level of detail, and language used. (Wikipedia)
                            <br />
                            <div>
                                <img id="img" src="~/images/genai/chatgpt_thumbnail.jpg" alt="GenAI Tools image">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="github" class="d-none">
                    <div class="row text-center cardBackground p-5">
                        <div class="col-sm-6">
                            <img id="img" src="~/images/genai/bard_large.jpg" alt="GenAI Tools image" class="largeImage">
                        </div>
                        <div class="col-sm-6 text-wrap">
                            Bard is a conversational generative artificial intelligence chatbot developed by Google, based initially on the LaMDA family of large language models and later the PaLM LLM. (Wikipedia)
                            <br />
                            <div>
                                <img id="img" src="~/images/genai/bard_thumbnail.jpg" alt="GenAI Tools image">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="dall-2" class="d-none">
                    <div class="row text-center cardBackground p-5">
                        <div class="col-sm-6">
                            <img id="img" src="~/images/genai/midjourney_large.jpg" alt="GenAI Tools image" class="largeImage">
                        </div>
                        <div class="col-sm-6 text-wrap">
                            Midjourney is a generative artificial intelligence program and service created and hosted by San Francisco-based independent research lab Midjourney, Inc. (Wikipedia)
                            <br />
                            <div>
                                <img id="img" src="~/images/genaisites/midjourney_thumbnail.jpg" alt="GenAI Tools image">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Synthesia" class="d-none">
                    <div class="row text-center cardBackground p-5">
                        <div class="col-sm-6">
                            <img id="img" src="~/images/genai/dalle_large.jpg" alt="GenAI Tools image" class="largeImage">
                        </div>
                        <div class="col-sm-6 text-wrap">
                            DALL-E and DALL-E 2 are text-to-image models developed by OpenAI using deep learning methodologies to generate digital images from natural language descriptions, called prompts (Wikipedia)

                            <br />
                            <div>
                                <img id="img" src="~/images/genaisites/dalle_thumbnail.jpg" alt="GenAI Tools image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
