@{
    ViewData["Title"] = "GenAI Page";
}

<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>

<div class="text-center">
    <div class="mt-5">
        <h1 class="display-4">GenAI Tools</h1>
    </div>
    <div class="row mt-5">
        <div class="row">
            <div class="column">
                <img id="img" src="~/media/chatgpt.png" alt="GenAI Tools image" class="img-thumbnail squareImage image imgClass">
                <div class="middle">
                    <button type="button" id="button">Read More</button>
                </div>
            </div>
            <div class="column">
                <img id="img" src="~/media/Google-Bard.png" alt="GenAI Tools image" class="img-thumbnail squareImage image img">
            </div>
            <div class="column">
                <img id="img" src="~/media/MidJourneypng.png" alt="GenAI Tools image" class="img-thumbnail squareImage img">
            </div>
            <div class="column">
                <img id="img" src="~/media/Dalle-2.png" alt="GenAI Tools image" class="img-thumbnail squareImage img">
            </div>
        </div>
    </div>
</div>