@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Generative AI Technology</h1>
    <p>
        Any time an AI technology is generating something on its own, it can be referred to as "generative AI." This umbrella term includes learning algorithms that make predictions as well as those that can use prompts to autonomously write articles and paint pictures.
        Techopedia
    </p>

    <h1 class="display-6">GenAI Tools</h1>
    <p>
        Generative AI tools refer to software or systems that use neural network techniques to process and comprehend input data, subsequently producing meaningful responses.
        Scribehow
    </p>
    
    <h1 class="display-6">GenAI Organisations</h1>
    <p>
        Generative AI Organizations like Microsoft, Google, Amazon and IBM have invested hundreds of millions of dollars and massive compute power to build the foundational models on which services like ChatGPT and others depend.
        Gartner
    </p>
    <h1 class="display-6">GenAI Applications</h1>
    <p>
        @*Need to update*@
        Text: GPT-3, LaMDA, LLaMA, BLOOM and GPT-4.
        Code: OpenAI Codex.
        Images: DALL-E, Midjourney and Stable Diffusion.
        Video: Make-A-Video (Meta Platforms).
        Wikipedia
    </p>
    <h1 class="display-6">AI Jobs</h1>
    <p>
        The prime source for jobs and talents in AI, ML, Data Science and Big Data: Insights AI-Jobs
        @*Need to update*@
        Python source for tables and charts: Kaggle.
    </p>
    <h1 class="display-6">GenAI Organisations</h1>
    <p>
        Generative AI Organizations like Microsoft, Google, Amazon and IBM have invested hundreds of millions of dollars and massive compute power to build the foundational models on which services like ChatGPT and others depend.
        Gartner
    </p>



</div>
