@{
    ViewData["Title"] = "Privacy Policy";
}
<link href="~/css/site.css" rel="stylesheet" type="text/css" />

<h1 class="display-6">@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
