<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenAI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OpenAI.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="fixedHeader">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">OpenAI</a>
                <button class="navbar-light navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="GenAI">GenAI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="GenAITools" asp-action="Index">GenAISites</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-end">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Registration" asp-action="Create">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container">
        <main role="main" class="pt-5">
            @RenderBody()
        </main>
    </div>

    <div class="divFooter">
        <div class="container">
            <div class="row text-light">
                <div class="col-sm-6">
                    <a asp-area="" class="text-light" asp-controller="Home" asp-action="Index">Home</a><br />
                    <a asp-area="" class="text-light" asp-controller="GenAITools" asp-action="Index">GenAISites</a><br />
                    <a asp-area="" class="text-light" asp-controller="Home" asp-action="Index">Jobs</a><br />
                    <a asp-area="" class="text-light" asp-controller="Home" asp-action="Contact">Contact</a><br />
                </div>
                <div class="col-sm-6">
                    <a asp-area="" class="text-light" asp-controller="Home" asp-action="Contact">About Us</a><br />
                    <a asp-area="" class="text-light" asp-controller="Home" asp-action="Privacy">Copyright Info</a><br />
                    <a asp-area="" class="text-light" asp-controller="Home" asp-action="Contact">Follow Us</a><br />
                    <div class="text-light">
                        <button class="btn btn-sm btn-light">Facebook</button>
                        <button class="btn btn-sm btn-light">Google</button>
                        <button class="btn btn-sm btn-light">Instagram</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
